<div id="<%= dom_id temperature %>">
  <p>
    <strong>Avg temp:</strong>
    <%= temperature.avg_temp %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= temperature.date %>
  </p>

  <p>
    <strong>City:</strong>
    <%= temperature.city.city %>
    State: <%= temperature.city.state %>
    Country: <%= temperature.city.country %>
    Region: <%= temperature.city.Region %>
  </p>

</div>
