<p style="color: green"><%= notice %></p>

<h1>Temperatures</h1>

<% if @temperatures.count > 0 %>
<p>We have <%= @temperatures.count %> temperature records in current page.</p>
<% else %>
<p>We have no temperature records in current page.</p>
<% end %>


<div id="temperatures">
  <% @temperatures.each do |temperature| %>
    <%= render temperature %>
    <p>
      <%= link_to "Show this temperature", temperature %>
    </p>
  <% end %>

  <%= paginate @temperatures %>
</div>

<%= link_to "New temperature", new_temperature_path %>
