<div id="<%= dom_id city %>">
  <p>
    <strong>City:</strong>
    <%= city.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= city.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= city.country %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= city.Region %>
  </p>

</div>
