<p style="color: green"><%= notice %></p>

<h1>Cities</h1>

<form action="/cities" method="get">
  city name: <input type="text" name="city_name" value=<%= params[:city_name] %> />
  <input type='submit' /> 
</form>

<div id="cities">
  <% @cities.each do |city| %>
    <%= render city %>
    <p>
      <%= link_to "Show this city", city %>
    </p>
  <% end %>
  <%= paginate @cities %>
</div>

<%= link_to "New city", new_city_path %>
