<p style="color: green"><%= notice %></p>

<%= render @city %>
  <% @city.temperatures.each do |temperature| %>
    <%= render temperature %>
    <p>
      <%= link_to "Show this temperature", temperature %>
    </p>
  <% end %>

<div>
  <%= link_to "Edit this city", edit_city_path(@city) %> |
  <%= link_to "Back to cities", cities_path %>

  <%= button_to "Destroy this city", @city, method: :delete %>
</div>
